.ffMonBla {
    font-family: Montserrat-Black;
}

.ffMonBlaIta {
    font-family: Montserrat-BlackItalic;
}

.ffUbuMed {
    font-family: Ubuntu-Medium;
}

.ffUbuReg {
    font-family: Ubuntu-Regular;
}
.ffRalBl {
    font-family: Raleway-Black;
}
.ffRalBI {
    font-family: Raleway-BlackItalic;
}
.ffRalEBI {
    font-family: Raleway-ExtraBoldItalic;
}
.ffRalEBo {
    font-family: Raleway-ExtraBold;
}