.ffMonBla {
    font-family: Montserrat-Black;
}

.ffMonBlaIta {
    font-family: Montserrat-BlackItalic;
}

.ffUbuMed {
    font-family: Ubuntu-Medium;
}

.ffUbuReg {
    font-family: Ubuntu-Regular;
}
.ffUbuLig {
    font-family: Ubuntu-Light;
}
.ffRalSB {
    font-family: Raleway-SemiBold;
}
.ffRalMed {
    font-family: Raleway-Medium;
}
.ffRalReg {
    font-family: Raleway-Regular;
}
.ffRalBol {
    font-family: Raleway-Bold;
}
.ffRalBl {
    font-family: Raleway-Black;
}
.ffRalBI {
    font-family: Raleway-BlackItalic;
}
.ffRalEBI {
    font-family: Raleway-ExtraBoldItalic;
}
.ffRalEBo {
    font-family: Raleway-ExtraBold;
}