@font-face {
    font-family: Montserrat-Black;
    src: url(./Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-BlackItalic;
    src: url(./Montserrat-BlackItalic.ttf);
}
@font-face {
    font-family: Ubuntu-Medium;
    src: url(./ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: Ubuntu-Regular;
    src: url(./ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Ubuntu-Light;
    src: url(./ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: Raleway-Medium;
    src: url(./raleway/static/Raleway-Medium.ttf);
}
@font-face {
    font-family: Raleway-Regular;
    src: url(./raleway/static/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway-SemiBold;
    src: url(./raleway/static/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: Raleway-Bold;
    src: url(./raleway/static/Raleway-Bold.ttf);
}
@font-face {
    font-family: Raleway-Black;
    src: url(./raleway/static/Raleway-Black.ttf);
}
@font-face {
    font-family: Raleway-BlackItalic;
    src: url(./raleway/static/Raleway-BlackItalic.ttf);
}
@font-face {
    font-family: Raleway-ExtraBoldItalic;
    src: url(./raleway/static/Raleway-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: Raleway-ExtraBold;
    src: url(./raleway/static/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: Atomic;
    src: url(./atomic/AtomicAge-Regular.ttf);
}

